:root {
  /* Oranges */
  --yellow-orange-color-wheel: #fe980bff;
  --mellow-apricot: #f5bf7eff;
  /* Pale/neutral oranges */
  --desert-sand: #f1d2b7ff;
  --champagne-pink: #efdcd4ff;
  /* Neutrals */
  --magnolia: #ece5f0ff;
  --taupe-gray: #89868bff;
  --eerie-black: #262626ff;
  /* Blues/accents */
  --pale-cerulean: #8db4d4ff;
  --green-blue-crayola: #2d82b7ff;
  /* CSS HSL */
  --yellow-orange-color-wheel: hsla(35, 99%, 52%, 1);
  --mellow-apricot: hsla(33, 86%, 73%, 1);
  --desert-sand: hsla(28, 67%, 83%, 1);
  --champagne-pink: hsla(18, 46%, 88%, 1);
  --magnolia: hsla(278, 27%, 92%, 1);
  --taupe-gray: hsla(276, 2%, 54%, 1);
  --eerie-black: hsla(0, 0%, 15%, 1);
  --pale-cerulean: hsla(207, 45%, 69%, 1);
  --green-blue-crayola: hsla(203, 61%, 45%, 1);
}

/* --- FONTS --- */
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface:400|Roboto:400');

html {
  font-size: 100%;
  /*16px*/
}

body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.65;
  color: #333;
}

p {
  margin-bottom: 1.15rem;
}

h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1.05rem;
  font-family: 'Abril Fatface', sans-serif;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

small, .text_small {
  font-size: 0.8em;
}

header {
  padding: 100px;
  margin-bottom: 20px;
  border-bottom: 1px solid lightgray;
}

main {
  padding: 100px;
}

.flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
}

.grid {
  display: grid;
  grid-template-columns: 15% auto;
  grid-gap: 80px 60px;
  justify-items: center;
}

.colors {
  text-align: center;
}

.color {
  width: 300px;
  height: 200px;
  padding: 10px 5%;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 3px 5px 7px 0px #3e3e3e;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.subtitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.brand-name {
  font-family: 'Balsamiq Sans', cursive;
  font-weight: bold;
}

#yellow-orange-color-wheel {
  background-color: var(--yellow-orange-color-wheel);
}

#mellow-apricot {
  background-color: var(--mellow-apricot);
}

#desert-sand {
  background-color: var(--desert-sand);
}

#champagne-pink {
  background-color: var(--champagne-pink);
}

#crayola {
  background-color: var(--green-blue-crayola);
}

#cerulean {
  background-color: var(--pale-cerulean);
}

#white {
  background-color: var(--magnolia);
}

#gray {
  background-color: var(--taupe-gray);
}

#black {
  background-color: var(--eerie-black);
  color: white;
}